{% comment %}
  concept-why
  conceptページ why

  Accepts:
  - none

  Usage:
  - {%- render 'concept-why' -%}

  Style:
  - snippets/concept-why.css

  Script:
  - none
{% endcomment %}

<div class="concept-why main-concept__block">
  <h2 class="main-concept__title">Why</h2>
  <h3 class="main-concept__sub-title">なぜ「うるおい」が大切と考えるか。</h3>

  <div id="why-collapse" class="main-concept__body collapse">
    <p>
      化粧水をして、乳液でフタをして、というと、
      肌がしっとりする印象がありますが、実は一時
      的であることも少なくありません。
      私たちが目指すのは表面的なしっとり感ではな
      く、角層内からのうるおい。
      水分・油分・保湿成分という、まさに「URUOI
      FACTOR（保湿因子）」を肌へ届けることで、
      本当にうるおう肌を目指していきます。
    </p>
  </div>
  <button class="main-concept__btn" type="button" data-bs-toggle="collapse" data-bs-target="#why-collapse" aria-expanded="false" aria-controls="why-collapse"></button>
</div>
