{% comment %}
  contents-why
  contentsページ why

  Accepts:
  - none

  Usage:
  - {%- render 'contents-why' -%}

  Style:
  - snippets/contents-why.css

  Script:
  - none
{% endcomment %}

<div class="contents-why">
  <p>
    本当にうるおう肌は、
  悩みが生まれにくい。
  角層内の水分・油分・保湿成分が十分に満たさ
  れていること。肌が持つ「うるおう力」が十分
  にあること。それが私たちの考える「本当にう
  るおう肌」です。
  そうした健やかな肌はバリア機能がきちんと働
  き、肌悩みも少ないのです。
  </p>
</div>
