{% comment %}
  contents-how
  contentsページ How

  Accepts:
  - none

  Usage:
  - {%- render 'contents-how' -%}

  Style:
  - snippets/contents-how.css

  Script:
  - none
{% endcomment %}

<div class="contents-how">
  <p>
    「うるおい」に、妥協しない。
    肌内部の角層から「本当にうるおう肌」になる
    ことを目的に、わたしたちは基礎化粧品を開し
    ています。
    各アイテムごとのこだわりについては、商品詳
    細ページをご覧ください。
  </p>
</div>