@charset "UTF-8";
@use '../global' as *;

/* background-color
--------------------------------------------------*/
.bg-cr-primary {
  background-color: $bg-color-primary !important;
}

.bg-cr-secondary {
  background-color: $bg-color-secondary !important;
}

.bg-cr-tertiary {
  background-color: $bg-color-tertiary !important;
}