@charset "UTF-8";
@use '../global' as *;

/* key-visual
--------------------------------------------------*/
.key-visual {
  position: relative;
}

.key-visual__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.key-visual__content {
  @include posCenter(xy);
  background-color: rgba($color: white, $alpha: .3);
  padding: 32px 24px;
  text-align: center;
}

.key-visual__title {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 8px;
  @include atQuery(md) {
    font-size: 36px;
  }
}

.key-visual__text {
  font-weight: 500;
  @include atQuery(md) {
    font-size: 24px;
  }
}

.key-visual__link {
  background-color: #555;
  display: inline-block;
  padding: 0 12px;
  color: white;
  border-radius: 30px;
  font-size: 10px;
  letter-spacing: .2em;
  @include atQuery(md) {
    font-size: 16px;
    transition-property: opacity;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
    &:hover {
      opacity: .7;
    }
  }
}