@charset "UTF-8";
@use '../global' as *;

@use '../snippets/product-meta';

/* main-product
--------------------------------------------------*/
// label
.ProductMeta__label {
  display: inline-block;
  background-color: rgb(204, 165, 28);
  color: white;
  padding: 0 8px;
  @include notFirst() {
    margin-left: 4px;
  }
}

// title-with-text
.ProductMeta__title-with-text {
  margin-top: 64px;
}

.title-with-text__title {
  p {
    font-size: 22px;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.6;
  }
}

.title-with-text__text {
  margin-top: 24px;

  p {
    margin-bottom: 0;
  }
}

// image
.ProductMeta__image {
  padding: 20px 0;
}