@charset "UTF-8";
@use '../global' as *;

/* text-with
--------------------------------------------------*/
.text-with__link-wrapper {
  margin-top: 24px;
  text-align: center;
}

.text-with__link {
  display: inline-block;
  background-color: rgb(240, 240, 240);
  border-radius: 10%;
  padding: 0 36px;
  border-radius: 30px;
  transition-property: opacity;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  @include atQuery(sm) {
    &:hover {
      opacity: .7;
    }
  }
}