@charset "UTF-8";
@use '../global' as *;

/* text-with
--------------------------------------------------*/
.FeatureText--imageLeft {
  @include atQuery(sm) {
    flex-direction: column;
  }
}

.FeatureText--imageLeft .FeatureText__ContentWrapper {
  padding-top: 20px;
  padding-bottom: 50px;
}

.Rte p:not(:last-child),
.Rte ul:not(:last-child),
.Rte ol:not(:last-child) {
  margin-bottom: .6em;
}

.text-with__link-wrapper {
  margin-top: 24px;
  text-align: center;
}

.text-with__link {
  display: inline-block;
  background-color: rgb(240, 240, 240);
  border-radius: 10%;
  padding: 0 36px;
  border-radius: 30px;
  @include atQuery(md) {
    transition-property: opacity;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover {
      opacity: .7;
    }
  }
}