{% if template == 'product'  %}
  <div class="Product">
{% endif %}
    <div class="{% if section.settings.include_margins %}Container{% endif %}">
      {%- for block in section.blocks -%}
      {%- render block -%}
      {%- endfor -%}
    </div>
{% if template == 'product' %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Apps",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "label": "Include margins",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
