<div style="text-align: left;" data-mce-style="text-align: left;">
  <p data-mce-fragment="1">一部商品の価格改定と商品品薄のお知らせについて　<a data-mce-fragment="1" title="https://uruoi-factor-product.com/pages/%E4%B8%80%E9%83%A8%E5%95%86%E5%93%81%E3%81%AE%E4%BE%A1%E6%A0%BC%E6%94%B9%E5%AE%9A%E3%81%A8%E5%95%86%E5%93%81%E5%93%81%E8%96%84%E3%81%AE%E3%81%8A%E7%9F%A5%E3%82%89%E3%81%9B" href="https://uruoi-factor-product.com/pages/%E4%B8%80%E9%83%A8%E5%95%86%E5%93%81%E3%81%AE%E4%BE%A1%E6%A0%BC%E6%94%B9%E5%AE%9A%E3%81%A8%E5%95%86%E5%93%81%E5%93%81%E8%96%84%E3%81%AE%E3%81%8A%E7%9F%A5%E3%82%89%E3%81%9B" data-mce-href="https://uruoi-factor-product.com/pages/%E4%B8%80%E9%83%A8%E5%95%86%E5%93%81%E3%81%AE%E4%BE%A1%E6%A0%BC%E6%94%B9%E5%AE%9A%E3%81%A8%E5%95%86%E5%93%81%E5%93%81%E8%96%84%E3%81%AE%E3%81%8A%E7%9F%A5%E3%82%89%E3%81%9B">(詳しく見る)</a></p>
  </div>
  <ul>
  <li><a href="https://uruoi-factor-product.com/products/charveil-beauty-oil#opinew-plugin">商品レビュー</a></li>
  <li><a href="https://uruoi-factor-product.com/pages/%E7%A9%BA%E3%81%8D%E5%AE%B9%E5%99%A8%E5%9B%9E%E5%8F%8E?_pos=2&amp;_sid=0559e2394&amp;_ss=r">容器回収</a></li>
  <li><a href="https://uruoi-factor-product.com/collections/%E3%82%AE%E3%83%95%E3%83%88%E5%8C%85%E8%A3%85-0">ギフト包装</a></li>
  <li><a href="https://uruoi-factor-product.com/pages/guide">お買い物ガイド・お届け日時の指定方法</a></li>
  </ul>
  <div class="pull-down">
    <p class="js-pullDownHead pull-down__head">
      <strong>使用方法</strong><br>
    </p>
    <p class="js-pullDownBody pull-down__body">
      STEP1.洗顔後、お肌が濡れた状態で、手のひらに適量（10円玉サイズ・8 滴）を手に取ります。<br>STEP.2手のひらで優しく包み込むようにして、 美容オイルを顔全体に広げます。STEP.3浸透力が高まったお肌に、 化粧水、美容液などの通常のケアでしっかりと水分を与えます。<br><span data-mce-fragment="1">&gt;&gt;&gt;</span><a href="https://uruoi-factor-product.com/pages/copy-of-how-to-use-a-oil?_pos=2&amp;_sid=9c1583a32&amp;_ss=r">HOW TO USE？</a><br>
    </p>
  </div>
  <div class="pull-down">
    <p class="js-pullDownHead pull-down__head" style="display: none;">
      <strong>成分<br></strong>
    </p>
    <p class="js-pullDownBody pull-down__body">
      コメヌカ油、マカデミア種子油、オリーブ果実油、イソステアリン酸エチル、ミリスチン酸オクチル ドデシル、イソステアリン酸イソステアリル、メドウフォーム油、アボカド油、(ジイソステアリン酸/ポリヒドロキシステアリン酸/セバシン酸)ポリグリセリル-4、ラベンダー油、水、 トコフェロール、グリセリン、BG、グルコシルヘスペリジン、エタノール、 ラウロイルラクチレートNa、スクワラン、乳エキス、ラクトフェリン(牛乳)、セラミドNP、セラミドAP、フィトスフィンゴシン、コレステロール、 プロパンジオール、キサンタンガム、カルボマー、スフィンゴモナス培養エキス、乳糖、オレイン酸フィトステリル、スフィンゴミエリン、乳酸、 ペンチレングリコール、グリチルリチン酸2K、フィトステロールズ、セ ラミドEOP、パルミチン酸アスコルビル、フェノキシエタノール、アスコ ルビン酸、エチルヘキシルグリセリン、レシチン<br>
    </p>
  </div>
  <p> </p>
  <div class="notranslate" style="all: initial;" data-mce-style="all: initial;"></div>
