/* key-visual
--------------------------------------------------*/

.key-visual {
  position: relative;
}

.key-visual__img-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.key-visual__img-wrapper img {
  -o-object-fit: cover;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.key-visual__content {
  -webkit-transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.3);
  left: 50%;
  padding: 32px 24px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.key-visual__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  white-space: nowrap;
}

.key-visual__text {
  font-weight: 500;
}

.key-visual__link {
  background-color: #555;
  border-radius: 30px;
  color: white;
  display: inline-block;
  font-size: 10px;
  letter-spacing: 0.2em;
  padding: 0 12px;
}

@media only screen and (min-width: 641px) {
  .key-visual__title {
    font-size: 36px;
  }

  .key-visual__text {
    font-size: 24px;
  }

  .key-visual__link {
    font-size: 16px;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.65, 0, 0.076, 1);
  }

  .key-visual__link:hover {
    opacity: 0.7;
  }
}