@charset "UTF-8";

/* first-view
--------------------------------------------------*/

.first-view {
  padding-bottom: 72px;
}

.first-view__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-view__content {
  margin-top: 64px;
  text-align: center;
}

.first-view__title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.first-view__text {
  font-size: 8px;
  font-weight: 500;
}

/* concept-
--------------------------------------------------*/

.concept-how::before {
  bottom: 0;
}

/* concept-
--------------------------------------------------*/

.concept-what::before {
  -webkit-transform: translateY(-50%);
  top: 50%;
  transform: translateY(-50%);
}

/* concept-
--------------------------------------------------*/

.concept-why::before {
  top: 0;
}

/* main-concept
--------------------------------------------------*/

.main-concept__content {
  border-left: 1px dashed black;
  padding-left: 32px;
}

.main-concept__block {
  padding: 20px 0;
  position: relative;
}

.main-concept__block::before {
  background-color: black;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 14px;
  left: -39px;
  position: absolute;
  width: 14px;
}

.main-concept__title {
  font-family: var(--heading-font-family);
  font-size: 64px;
  letter-spacing: 0.05em;
  line-height: 1.3;
  margin: 0;
}

.main-concept__sub-title {
  font-size: 16px;
}

.main-concept__body {
  padding-bottom: 48px;
  padding-top: 16px;
}

.main-concept__btn {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 150px;
}

.main-concept__btn::after {
  -webkit-transform: rotate(-45deg);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  content: "";
  display: inline-block;
  height: 10px;
  left: 25px;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 10px;
}

.main-concept__btn[aria-expanded=false]::before {
  content: "さらに表示";
}

.main-concept__btn[aria-expanded=true] {
  background-color: black;
  color: white;
}

.main-concept__btn[aria-expanded=true]::before {
  content: "ページを閉じる";
}

.main-concept__btn[aria-expanded=true]::after {
  -webkit-transform: rotate(135deg);
  border-color: white;
  left: 16px;
  top: 11px;
  transform: rotate(135deg);
}