/* first-view
--------------------------------------------------*/

.first-view {
  padding-bottom: 72px;
}

.first-view__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-view__content {
  margin-top: 64px;
  text-align: center;
}

.first-view__title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.first-view__text {
  font-size: 8px;
  font-weight: 500;
}