/* ProductMeta
--------------------------------------------------*/

.ProductMeta {
  border-bottom: none;
  margin-bottom: 12px;
  padding-bottom: 0;
}

.ProductMeta__head {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.features--heading-small .ProductMeta__Title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.ProductMeta__PriceList {
  text-align: left;
}

.ProductMeta__guide {
  font-size: 8px;
  text-align: left;
}

/* main-product
--------------------------------------------------*/

.ProductMeta__label {
  background-color: rgb(204, 165, 28);
  color: white;
  display: inline-block;
  padding: 0 8px;
}

.ProductMeta__label:not(:first-of-type) {
  margin-left: 4px;
}

/* product
--------------------------------------------------*/