@charset "UTF-8";
@use '../global' as *;

/* collapse
 * Bootstrap
--------------------------------------------------*/
.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
  pointer-events: none;
  backface-visibility: hidden;
  will-change: all;
}